.footer-container{
    background-color: #2b2a2a;
    color: #fff;
}

.col-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-item:last-child {
    flex-direction: column;
}