.main-section {
    background-color: #2b2a2a;
    color: #fff
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5 {
    margin: 15px 0;
}